<html>
  <head>
    <style>
     .addMsg {
       min-width: 400px;
       width: 50%;
     }
    </style>
  </head>
  <body>
    <div id="channel">
      <button @click="login">Login</button>
      <button @click="logout">Logout</button>
      <h4>{{greetings}}</h4>
      <input type="text" v-model="channel">
      <button @click="create">Create</button>
      <button @click="join">Join</button>
    </div>

    <div id="msg">
      <h3>{{channelInfo}}</h3>
      <input class="addMsg"
             v-model="newMsg"
             v-show="shouldShow"
             @keyup.enter="addMsg">
      <ul>
        <template v-for="msg in messages" track-by="$index">
          <li>
            <span>{{{msg}}}</span>
          </li>
        </template>
      </ul>
    </div>
    <script src="bundle.js"></script>
  </body>
</html>
